<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation LeapXpert Testing" preserve-order="true">
    <listeners>
        <listener class-name="com.leap.listener.TestListener"></listener>
        <listener class-name="com.kirwa.nxgreport.listners.NXGTestListner"></listener>
    </listeners>

    <test name="Send Message Test" preserve-order="true">
        <classes>
            <class name="com.leap.test.web.LoginTest" />
        </classes>
    </test>
</suite>

